


.card1{
    margin-left: 850px;
    margin-top: -200px;
}

.para1{
    margin-left: 700px;
}

.subp{
    margin-right: -700px;
}

.card2{
    margin-top: -200px;
}

.card3{
    margin-left: 700px;
    margin-top: -200px;
}

